:root {
    --bs-primary: #59bacc;
    --bs-primary-rgb: 89, 186, 204;
    --bs-secondary: #fcab10;
    --bs-secondary-rgb: 252, 171, 16;
    --bs-tertiary: #f8333c;
    --bs-tertiary-rgb: 248, 51, 60;

}

.banner {
    background: url(../images/home-banner.jpg) no-repeat center;
    background-size: cover;
}

.adopt {
    background: url(../images/adopt-banner.jpg) no-repeat center;
    background-size: cover;
}

.btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
}

.adopt-main {
    background: url(../images/adopt-main.jpg) no-repeat center;
    background-size: cover;
}